<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <input type="text" name="title"  placeholder="enter title" /><br/>
        <input type="text" name="body" placeholder="enter body"/><br/>
        <input type="text" name="user" placeholder="user" /><br/>
        <input type="text" name="dateandtime" placeholder="enter date and time"/><br/>
        <input type="submit" value="POST" />
    </form>
</body>
</html>